<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="NumberOfA" value="10" />
      <add key="NumberOfB" value="15" />
      <add key="NumberOfC" value="12" />
      <add key="TimeOfPriority1" value="5" />
      <add key="TimeOfPriority2" value="6" />
      <add key="TimeOfPriority3" value="7" />
      


    </appSettings>
</configuration>